*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
     height: 100%;
    overflow-x:hidden!important;
    margin:0px;
    padding:0px;
}
button.normal{
    font-size: 14px;
    color: black;
    border-radius: 4px;
    border-color: white;
padding: 14px 29px;
cursor:  pointer;
border: none;
font-weight: 600;
outline: none;
transition: .5s ease;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
button.normal:hover{
    background-color: blueviolet;
    color: white;
    font-size: 16px;
}
#header{
    position: sticky;
    top: 0;
    left: 0;
     width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background-color: rgba(82, 26, 131, 0.904);
    box-shadow: 0 5px 15px rgba(145, 99, 145, 0.301);
    z-index: 999;
}
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    
}
#navbar li{
    padding: 0 20px;
    list-style-type: none;
    position: relative;
}
#navbar li a{
    
    text-decoration: none;
    font-size: 19px;
    font-weight: 600;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active{
 color: aliceblue;
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content:  "";
    width: 30%;
    height: 2px;
    background: white;
    position: absolute;
    bottom: -4px;
    left: 20px;
    color: white;
}
p{
    font-size: .7rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: grey;
}
h2{
    font-weight: 600;
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#header h3{
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
 .col h3{
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 
}
/*Home*/
#main{
    background-color: rgba(255, 255, 255, 0.993);
    background: url(final.jpg);
     width: 100%;
    height: 90vh;
    background-repeat: no-repeat;
    background-position: top 27% left 77%;
    padding: 0 81px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}
#main h4{
    padding-bottom: 12px;
    font-size: 19px;
}
#main p{
    font-size: 17px;
}
#main h1{
    color: rgba(137, 43, 226, 0.87);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 9px;
    font-size: 2rem;
}
#main #btn{
    padding: 11px 51px 14px 15px;
    opacity: .4;
    color: white;
    background-color: rgb(138, 29, 240);
    border: none;
    margin-top: 12px;
    border-radius: 22px 28px 18px 1px;
font-size: 13px;
font-weight: 800;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#feature{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#feature .feature-box{
    width: 181px;
    text-align: center;
    padding: 25px 15px;
box-shadow: 20px 20px 34px rgba(148, 146, 146, 0.075);
border: 1px solid rgb(232, 226, 236);
border-radius: 4px;
margin: 15px 0;
}
.section-p1{
    padding: 40px 80px;

}
.section-p1  p{
    font-size: 14px;
    margin-top: 14px;
}
#feature .feature-box img{
    width:100% ;
 height: 20vh;
}
#feature .feature-box h6{
    border: 1px solid grey;
    text-align: center;
    display: inline-block;
    margin-top: 21px;
    border: none;
    color: blueviolet;
    background-color: rgba(241, 136, 136, 0.479);
    padding: 9px;
    font-size: 13px;
    border-radius: 4px;
}
#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 39px;

}
#product1 .pro-container .pro img{
    width: 100%;
    background-size: cover;
    height: 27vh;
    padding-top: 22px;
    transition: .4s ease;
}

#product1{
    text-align: center;
   
}
#product1 .pro {
    width: 23%;
    max-width: 250px;
    padding: 11px 12px;
    border: 1px solid whitesmoke;
    box-shadow: 20px 30px 30px rgba(90, 88, 88, 0.212);
    position: relative;
    transition: .2s ease;
    margin-top: 22px;
}
#product1 .pro:hover{
    box-shadow: 20px 30px 30px rgba(122, 2, 122, 0.356);
 
}
#product1 .pro img{
    width: 100%;
    border-radius: 24px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    
}

#product1 .pro .des{
    text-align: start;
    
}
#product1 .pro .des span{
   padding-top:19px ;
    color: gray;
}
#product1 .pro .des h5{
    margin-top: 12px;
    padding-top: 9px;
}
#product1 .pro .des .star{
    padding-top: 12px;
    color: yellow;
    padding-bottom: 9px;
}
#product1 .pro .des .cat{
    padding-left: 11rem;
    bottom: 15px;
    position: absolute;
    
}

/*banner*/

#banner{
    background-size: cover;
    background-position: center;
    background-image: url(banner.jpg);
    margin-top: 22px;
    padding: 12px;
    text-align: center;
    width: 100%;
    height: 40vh;
    
}

#banner h3{
margin-top: 49px;
padding: 2px;
color: white;
}
#banner h1{
    font-size: 3rem;
    margin-top: 19px;
    padding-bottom:9px ;
    color: white;
}
#banner h1 span{
    color: blueviolet;
}



#smallbanner{
 display: flex;
 justify-content: space-around;
 flex-wrap: wrap;
}
#smallbanner .fbanner{
    padding: 31px;
    padding-top: 3rem;
    margin-top: 29px;
    width: 580px;
    height: 49vh;
    background-image: url(smbanner.jpg);
    
    background-repeat: no-repeat;
    background-size: cover;
    }
    #smallbanner .sbanner{
        padding: 31px;
        padding-top: 3rem;
        margin-top: 29px;
        width: 580px;
        height: 49vh;
        background-image: url(mains.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        }
        #smallbanner .sbanner h4{
            color: blueviolet;
    margin-top: 12px;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
        }
        #smallbanner .sbanner h2{
            color: white;
            font-weight: 900;
            margin-top: 9px;
            font-style: normal;
        }
        #smallbanner .sbanner button{
            margin-top: 12px;
            background: transparent;
            border: 1px solid white;
            color: white;
        }
#smallbanner .fbanner h4{
    color: blueviolet;
    margin-top: 12px;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#smallbanner .fbanner h2{
    color: white;
    font-weight: 900;
    
}
#smallbanner .fbanner button{
    margin-top: 12px;
    background: transparent;
    border: 1px solid white;
    color: white;
}
#smallbanner .fbanner button:hover{
    background-color: blueviolet;
    border: none;
}
#newsletter{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
    margin-top: 21px;
    background-color: rgb(21, 4, 37);
   
}
#newsletter .form{
    display: flex;
    width: 40%;
   
}
#newsletter h4{
    font-size: 24px;
    font-weight: 600;
    color: whitesmoke;
 margin-bottom: 12px;
}
#newsletter span{
    color: yellow;
}
#newsletter p{
    font-size: 14px;
}
#newsletter input{
    height: 3rem;
    width: 100%;
    font-size: 14px;
    border: 1px solid transparent;
    outline: none;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#newsletter button{
    background-color: blueviolet;
    border-bottom-left-radius: 0;
    white-space: nowrap;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
footer .col h3{
    margin-bottom: 21px;
    font-size: 2rem;
}
footer .col{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: flex-start;
}
footer h4{
    font-size: 17px;
    padding-bottom: 19px;
}
footer a{
    margin: 0px 0px 8px 0;
    text-decoration: none;
    color: grey;
}
footer .copyright{
width: 100%;
text-align: center;
}
.mobile{
    visibility: hidden;
}
#close{
    display: none;
}
/*Shop page css*/

#shop-main{
    text-align: center;
    background-image: url(knowas\ banner.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    color: white;
    padding: 14px;
}
#shop-main h2{
    padding-top: 4rem;
    
    font-style: 17px;
}
#shop-main p{
    row-gap: 12px;
    font-size: 22px;
    margin-top: 24px;
    color: rgba(229, 234, 238, 0.918);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#pagination{
    text-align: center;
}
#pagination a{
    border: 1px solid green;
    text-decoration: none;
    text-align: center;
    border-radius: 2px;
    background-color: green;
    color: white;
    font-size: 1.2rem;
    font-size: 16px;
    padding: 12px;
}
#pagination a i{
    font-size: 16px;
    font-weight: 600;
}


/*sproduct*/
#prodetails .singleimage{
width: 39%;
margin-right: 49px;
}
#prodetails .singleimage
.small-img-group{
    cursor: pointer;
    display: flex;
    justify-content: space-between;

}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
    width: 100%;
    background-size: cover;
}

#prodetails{
    display: flex;
    margin-top: 21px;
    
}

#prodetails .single-pro-details{
    width: 50%;
    padding-top: 29px;
    padding: 21px;
}
.single-pro-details{
    border:  1px solid purple;
    background-color: rgba(100, 28, 100, 0.562);
    color: white;
}

.single-pro-details h4{
padding: 40px 0 20px 0;
}
.single-pro-details h2{
    font-size: 27px;
}
.single-pro-details h3{
    padding-bottom: 21px;
    padding-top: 12px;
}
#prodetails .single-pro-details select{
    display: block;
    padding: 17px 21px;
    padding-bottom: 12px;
    margin-bottom: 21px;
}
.single-pro-details input{
    padding: 16px;
    font-size: 17px;
    width: 21px;
    height: 19px;
    font-weight: 900;
}
.singleimage img{
    width: 100%;
    height: 21rem;
    background-size: cover;
    object-fit: cover;
}
.container{
    display: flex;
    padding: 12px;
    gap: 14px;
}

/*blog*/

#blog{
    padding: 150px 150px 0px 150px;
}

#blog .blog-box{
    display: flex;
    align-items: center;
    position: relative;
}
#blog img{
    width:100% ;
    height: 300px;
    object-fit: cover;
    
}
#blog .blog-img{
    width: 50%;
    margin-right:40px;
}
#blog .blog-details{
    width: 50%;
}
#blog .blog-details a{
    text-decoration: none;
    font-size: 9px;
 color: black;
 font-weight: 700;
 position: relative;
 transition: 0.3s;
 margin-top: 9px;
}

#blog .blog-details a::after{
    content: "";
    width: 49px;
    height: 1px;
    position: absolute;
    background-color: black;
    top: 6px;
    right: -60px;
}
#blog .blog-details a:hover{
color: blueviolet;
}
#blog .blog-box .blog-details p{
    font-size: 16px;
}
#blog .blog-box .blog-details h4{
    font-size: 22px;
    margin-bottom: 9px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#blog .blog-details a:hover::after{
    background-color: blueviolet;
}
#blog-box .blog-img img{
    background-size: cover;
    width: 100%;
    object-fit: cover;
}
#blog-box .blog-img{
    width: 100%;
}

#blog .blog-box h1{
    position: absolute;
    top: -51px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    color: rgba(145, 142, 142, 0.377);
    z-index: -11;
}
#blog .blog-box p{
    padding-bottom: 20px;
    font-size: 14px;
}

#blog .blog-box{
    padding-bottom: 90px;
}
#banner-img{
    transition: 0.3s;
}
#banner-img img{
    margin-left: 10%;
    background-size: cover;
    width: 980px;
    height: 49vh;
    border: 1px solid rgb(248, 244, 244);
   
}
#shop-main3 h2{
    text-align: center;
    margin-top: 33px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
}
#shop-main3 p{
    text-align: center;
    margin-top: 33px; 
    font-size: 19px;
    color: rgba(240, 255, 255, 0.795);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#shop-main3{
    background-image:url(read1.jpg) ;
    width: 100%;
    height: 40vh;
    background-repeat: no-repeat;
    color: white;
    background-size: cover;
    background-position: center;
    padding: 14px; 
}
#shop-main5 h2{
    text-align: center;
    margin-top: 33px;  
    font-size: 22px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#shop-main5 p{
    text-align: center;
    margin-top: 33px; 
    font-size: 22px;
    color: rgba(240, 255, 255, 0.795);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#shop-main5{
    background-image:url(contban.png) ;
    width: 100%;
    height: 40vh;
    background-repeat: no-repeat;
    color: white;
    background-size: cover;
padding: 14px; 
}
#shop-main2{
    text-align: center;
    background-image: url(ban.jpg);
    width: 100%;
    height: 40vh;
    background-repeat: no-repeat;
    
    color: white;
    background-size: cover;
    background-position: center;
    padding: 14px; 
}


#shop-main4{
    text-align: center;
    background-image: url(knowas\ banner.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    color: white;
    padding: 14px;
}
#about-head{
    display: flex;
}
#about-head img{
    width: 50%;
    text-align: center;
    margin-top: 10%;
    height: 59vh;
}
.about-details{
    margin-top: 10%;
    margin-left: 19px;
}
.about-details p{
    font-size: 17px;
    margin-top: 28px;
}
/*Contact */
#contactDetails{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#contactDetails .details{
    width: 40%;
    margin-left: 7%;
}
#contactDetails .details span{
    font-size: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}
.contact-form form span{
    font-size: 14px;
    font-weight: 800;
    font-family: 'Courier New', Courier, monospace;
}
#contactDetails .details  h2,
.contact-form form h2{
    font-size: 27px;
    line-height: 34px;
    padding: 20px 0;
}
#contactDetails .details  h3{
    font-size: 16px;
    padding-bottom: 14px;
}
#contactDetails .details li{
    list-style: none;
    display: flex;
    padding: 10px 0;
}
#contactDetails .details li i{
font-size: 14px;

}
#contactDetails .details li p{
    margin: 0;
    font-size: 14px;
}
#contactDetails .map{
    width: 55%;
    
    margin-top: 4%;
}

.contact-form form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 21%;
    margin-top: 21px;
}
.contact-form form input,
.contact-form form textarea{
    width: 80%;
    padding: 12px 14px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid black;
}

.contact-form form button{
    background-color: rgba(98, 24, 172, 0.61);
    
}



























































@media (max-width:417px) {
    
    body{
         width: 100%;
        height: 100%;
        overflow-x:hidden !important;
    }
    #header{
        padding: 10px 30px ;
    }
    #main{
        width: 100%;
        height: 70vh;
       padding: 0 21px;
    }
    #feature{
        justify-content: space-between;
    }
    #feature .feature-box img{
    
    width: 100px;
    height: 129px;
    margin-bottom: 29px;
}

    #product1 .pro{
        width: 100%;
    }
    #banner{
        height: 21vh;
        
    }
    #banner h3,h1{
        font-size: 14px;
    }

    
#product1 .pro .des .cat{
    padding-left: 11rem;
    bottom: 15px;
    position: absolute;
    
} 


 #blog .blog-details{
    width: 100%;
 }
    
 #banner-img img{
width: 100%;
 }
 .about-details p{
    font-size: 17px;
 }
    
}

@media (max-width:799px) {

#main{
    height: 60vh;
}
    #navbar{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        position: fixed;
        top: 0px;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: rgba(75, 49, 99, 0.308);
        box-shadow: 0 40px 60px blueviolet;
        padding: 80px 0 0 10px;
        transition: .3s;
    }
    #navbar li{
        margin-bottom: 24px;
        margin-left: 0px;
    }
    .mobile{
        visibility: visible;
        
        }
        .mobile i{
padding-left: 18px;
font-size: 17px;
}

#navbar.active{
    right: 0px;
}

#main{
    width: 21vh;
    width: 100%;
}
#close{
    display: initial;
    position: absolute;
    top: 24px;
     font-size: 24px;
    color: black;
}
.bag{
    display: none;
}
#feature .feature-box img{
    
    width: 100px;
    height: 129px;
    margin-bottom: 29px;
}
#feature  .feature-box{
width: 179px;
text-align: center;
margin: 14px 14px;
}

#newsletter .newstext .form{
    text-align: center;
    margin-left: 24%;
}
#smallbanner .fbanner .sbanner{
    min-width: 100%;
    height:30vh;
    padding: 29px;
}
#product1{
    width: 100%;
}

#product1 .pro .des .cat{
    padding-left: 11rem;
    bottom: 15px;
    position: absolute;
    
}
#product1 .pro-container{
justify-content: center;}

#product1 .pro .cat{
padding-left: 81px;

}
#product1 .pro {
margin: 15px;
width: 100%;
}
#banner{
height: 20vh;

}
#blog .blog-box{
    
  display: flex;  
  flex-direction: column;
  align-items: flex-start;
}


#blog{
    padding: 100px 20px 0 20px;
}
 #blog .blog-img img{
 object-fit: cover;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 30px;
 }
 #blog .blog-details{
    width: 100%;
 }
 #banner-img img{
width: 100%;
 }
 .about-details p{
    font-size: 17px;
 }

 #contactDetails{
flex-direction: column;
}
#contactDetails .map iframe{
    width: 100%;
}
#contactDetails .details{
    width: 100%;
    margin-bottom: 29px;
}
}
